{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Online Terminal</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <script
            src="https://unpkg.com/react@17/umd/react.development.js"
            crossorigin
        ></script>
        <script
            src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
            crossorigin
        ></script>
        <script src="https://unpkg.com/@babel/standalone@7.17.7/babel.js"></script>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />

        <script>
            window.command_history = "{{ request.user.command_history }}";
            window.csrf_token = "{{ csrf_token }}";
        </script>
    </head>
    <body>
        {% block body %} {% endblock %}

        {% block script %} {% endblock %}
    </body>
</html>
