{% extends "auctions/layout.html" %}
{% load helpers %}

{% block body %}
    {% if messsage %}
        <h1>{{ message }}</h1>
    {% endif %}

    <h2>Active Listings</h2>

    {% for listing in active_listings %}
        <a href="{% url 'listing' listing.id %}" class="listing">
          <img src="https://www.w3schools.com/bootstrap4/paris.jpg" alt="https://www.w3schools.com/bootstrap4/paris.jpg"/>
          
        </a>
    {% empty %}
        <p>No active listings</p>
    {% endfor %}
{% endblock %}
