{% extends "auctions/layout.html" %}

{% block body %}
    {% if messsage %}
        <h1>{{ message }}</h1>
    {% endif %}

    <h2>Active Listings</h2>

    <ul>
        {% for listing in active_listings %}
            <li class="listing">
                <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                <p>{{ listing.description }}</p>
                <p>{{ listing.starting_bid }}</p>
                <p>{{ listing.end_date }}</p>
            <li>
        {% empty %}
            <p>No active listings</p>
        {% endfor %}
    </ul>
{% endblock %}
