{% extends "auctions/layout.html" %}
{% load helpers %}

{% block body %}
    {% if listing %}
        <form action="/watchlist" method="POST">
          {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <input type="submit" class="btn btn-secondary" value="Add to Watchlist">
        </form>
        <h2>{{ listing.title }}</h2>

        <img src="{{ listing.image_url }}" class="listing-image" alt="Listing Image">

        <p>{{ listing.description }}</p>

        <h3>${{ listing|get_current_bid }}</h3>

        <form action="/listing/{{ listing.id }}/bid" method="POST">
            {% csrf_token %}
            <label for="bid">{{ listing|get_bids|length }} bid(s) so far. {% if current_bid.user == request.user %}Your bid is the current bid.{% endif %}</label>
            <input type="number" name="bid" class="form-control" placeholder="Bid Amount">
            <input type="submit" class="btn btn-primary" value="Bid">
        </form>
    {% endif %}
{% endblock %}
