{% extends "auctions/layout.html" %}

{% block body %}
    {% if category and title %}
        <h2>Listings in {{ category }} and including {{ title }}</h2>

        {% for listing in listings %}
            {% include "auctions/listing_item.html" with listing=listing %}
        {% empty %}
            <p>No listings in {{ category }} and including {{ title }}</p>
        {% endfor %}
    {% elif category %}
        <h2>Listings in {{ category }}</h2>

        {% for listing in listings %}
            {% include "auctions/listing_item.html" with listing=listing %}
        {% empty %}
            <p>No listings in {{ category }}</p>
        {% endfor %}
    {% elif title %}
        <h2>Listings including {{ title }}</h2>

        {% for listing in listings %}
            {% include "auctions/listing_item.html" with listing=listing %}
        {% empty %}
            <p>No listings including {{ title }}</p>
        {% endfor %}
    {% else %}
        <form action={{ request.path }} method="GET">
            {{ form }}

            <input type="submit" class="btn btn-primary" value="Search" />
        </form>
    {% endif %}
{% endblock %}
