{% extends 'layout.html' %} {% block title %} Sell Stock {% endblock %} {% block
main %}
<form action="/sell" method="post">
  <div class="form-group">
    <select class="form-control" name="symbol">
      <option disabled selected value="">Symbol</option>
      {% for symbol in stocks %}
      <option name="{{symbol}}">{{symbol}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <input
      class="form-control"
      name="shares"
      autofill="off"
      placeholder="Shares"
    />
  </div>
  <button class="btn btn-primary" type="submit">Sell Stock</button>
  <div>
    {% if money and companyName and spent %}
    <h4>
      You Sold Stock From <code>{{companyName}}</code>! You Spent
      <code>{{spent | usd}}</code>! You Have <code>{{money | usd}}</code> Left!
    </h4>
    {% endif %}
  </div>
</form>
{% endblock %}
